<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<h2 class="text-center">About Me</h2>
    <img src="/img/picture.jpg" alt="Aashi Sinha" height="150" width="150">
    <p class="mt-4">Hello Everyone! I am Aashi Sinha. I'm a 24-year-old Indian master's student from Ranchi, India
        and currently residing in Toronto, Canada. My current focuses are to strengthen my knowledge about web programming and
        game development, which is my second interest. I am an animal loving person and 
        I am very happy to create my first portfolio website!</p>

        <ul>
          <li><a class="font-weight-bold" href="/img/resume.pdf">Resume</a> This is the link to my resume.</li>
         
      </ul>       
</div>

</body>
<% include partials/script %>
</html>