<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<h2 class="text-center">Projects I have worked on</h2>
    <img src="/img/project1.png" alt="project1" height="150" width="150">
    <p class="mt-4">Liaised between 3 people to create a dashboard data portal for data analytics for datasets in a Geospatial segment of Chicago city.
        Supported data gathering and statistical analysis of data using JavaScript for the web page and OOPs concept for system design and data modeling.
        Simulated workflows and performed black-box and white-box testing for verification</p>
    <img src="/img/project2.jpg" alt="project2" height="150" width="150">
    <p class="mt-4">This was an individual project carried out in my semester. Performed a comparative analysis of the software product line architecture, libraries and technologies for web-based applications.
        Developed a successful project plan and work breakdown structure with the required phases and activities to complete the project; managed all scrum boards.
        Prepared the documentation with forecasts and estimates with key scrum metrics to determine project timeline using Microsoft Project Professional</p>
    <img src="/img/project3.jpg" alt="project3" height="150" width="150">
    <p class="mt-4">Created a desktop application in an individual minor project for hiding information in digital media like an image using ASP.NET and C#.
        Used the Least Significant Bit technique where the information is stored in the first bit of every pixel’s RGB component of the image</p>
              
</div>

</body>
<% include partials/script %>
</html>