<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<h2 class="text-center">Short List of services I offer</h2>
    <img src="/img/services1.jpg" alt="services1" height="150" width="150">
    <p class="mt-4">Android Mobile Application Development using Android Studio</p>
    <img src="/img/services2.jpg" alt="services2" height="150" width="150">
    <p class="mt-4">Mathematics</p>
    <img src="/img/services3.jpg" alt="services3" height="150" width="150">
    <p class="mt-4">Solving Problems with Data Structures and Algorithms</p>
              
</div>

</body>
<% include partials/script %>
</html>